In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('countries_of_the_world.csv')
df

             Country                               Region
0       Afghanistan         ASIA (EX. NEAR EAST)
1           Albania   EASTERN EUROPE
2           Algeria   NORTHERN AFRICA
3    American Samoa   OCEANIA
4           Andorra   WESTERN EUROPE
..               ...                                  ...
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

[227 rows x 2 columns]

In [4]:
# 1-
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Country  227 non-null    object
 1   Region   227 non-null    object
dtypes: object(2)
memory usage: 3.7+ KB

In [5]:
# 2-
df.head()

           Country                               Region
0     Afghanistan         ASIA (EX. NEAR EAST)
1         Albania   EASTERN EUROPE
2         Algeria   NORTHERN AFRICA
3  American Samoa   OCEANIA
4         Andorra   WESTERN EUROPE

In [6]:
# 3-
df.tail()

             Country                               Region
222       West Bank   NEAR EAST
223  Western Sahara   NORTHERN AFRICA
224           Yemen   NEAR EAST
225          Zambia   SUB-SAHARAN AFRICA
226        Zimbabwe   SUB-SAHARAN AFRICA

In [7]:
# 4-
df.shape

(227, 2)

In [10]:
# 5-
df.describe()

             Country                               Region
count            227                                  227
unique           227                                   11
top     Afghanistan   SUB-SAHARAN AFRICA
freq               1                                   51

In [23]:
# 6-
sum(df.duplicated())

0

In [21]:
# 7-
df.dtypes

Country    object
Region     object
dtype: object

In [22]:
# 8-
df.nunique()

Country    227
Region      11
dtype: int64

In [24]:
# 9- rename with lambda
df.rename(columns=lambda name: name.strip().lower().title(), inplace=True)

In [28]:
# 10-
df.isnull().sum()

Country    0
Region     0
dtype: int64